.footer-wrapper{
	padding: 14px 20px;
	margin-left: var(--app-sidebar-width);
	border-top: 1px solid var(--bs-border-color);
	transition-duration: 0.3s;
    transition-property: margin-left;
	
	@include media-breakpoint-down(xl){
		margin-left: 0;		
	}
	@include media-breakpoint-down(sm){
		padding: 14px 15px;		
	}
}