:root{
	--app-sidebar-width: 250px;
	--app-header-height: 70px;
	--app-sidebar-end: 80px;
}
@media (max-width: 1480px) {
	:root{
		--app-sidebar-end: 0;
	}
}

.app-menubar{
	width: var(--app-sidebar-width);
    border-right: 1px solid var(--bs-border-color);
    position: fixed;
    top: 0;
    z-index: 9;
    background-color: var(--app-sidebar-bg);
	transition-duration: 0.3s;
	transition-property: width, left;
    box-shadow: 0px 30px 30px 10px rgba(0, 0, 0, 0.02);
    height: 100vh;
	
	.navbar-nav li.menu-item{
		width: 100%;
	}
	@include media-breakpoint-down(xl){
		left: -260px;
		
		&.open{
			left: 0;
		}
	}
	.app-footer{
		padding: 12px 15px;
	}
}
.app-navbar-brand .navbar-brand-mini{
	transition-duration: 0.3s;
	transition-property: display;
}
.btn-app-nav{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	gap: 10px;
}
[data-app-sidebar="mini"]{
 
	--app-sidebar-width: 80px;
	
	.app-menubar{
		.app-navbar-brand .navbar-brand-mini{
			display: none;
		}
		.menu-label,
		.badge{
			display: none;
		}
		.app-navbar{
			.menubar > li.menu-item .menu-inner{
				display: none !important;
			}
			.menu-arrow > .menu-link::after{
				display: none;
			}
			.menu-item .menu-link > i {
				margin-right: 0;
			}
		}		
		.menu-heading::before{
			content: "\f425";
			font-family: uicons-solid-rounded;
			font-size: 11px;
			color: var(--bs-primary);
			text-align: center;
			display: block;
		}
		.btn-app-nav{		
			.nav-text{
				display: none;
			}
		}
	}
}
.app-wrapper{
	margin-left: var(--app-sidebar-width);
    min-height: calc(100vh - var(--app-header-height) - var(--footer-height, 50px));
    margin-top: var(--app-header-height);
	transition-duration: .3s;
    transition-property: margin-left;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 15px;
    padding-right: 15px;
	
	@include media-breakpoint-down(xl){
	    margin-left: 0;
	}
	@include media-breakpoint-down(sm){
		padding-left: 0;
		padding-right: 0;	
	}
}
.app-navbar-brand{
	width: var(--app-sidebar-width);
	min-width: var(--app-sidebar-width);
    height: var(--app-header-height);
	border-right: 1px solid var(--bs-border-color);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 25px;
	transition-duration: 0.3s;
	transition-property: width;
	border-bottom: 1px solid var(--bs-border-color);
	background-color: var(--app-sidebar-bg);
}
.app-header{
	position: fixed;
    background-color: var(--app-header-bg);
    z-index: 9;
    height: var(--app-header-height);
    top: 0;
    border-bottom: 1px solid var(--bs-border-color);
    width: 100%;
	box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.02);
	display: flex;
    align-items: center;
	transition-duration: 0.3s;
	transition-property: padding;
	padding-left: var(--app-sidebar-width);
	
	@include media-breakpoint-down(xl){
		padding-left: 0;
	}
}
.app-navbar{
	padding: 15px;
	height: calc(100% - calc(var(--app-header-height) + 65px));
	width: var(--app-sidebar-width);
	
	.menu-arrow{
		& > .menu-link{
			position: relative;
			
			&::after{
				content: "\f155";
				font-family: uicons-regular-straight;
				position: absolute;
				right: 12px;
				top: 50%;
				transform: translateY(-50%);
				height: 15px;
				width: 15px;
				display: flex;
				align-items: center;
				color: var(--bs-body-color);
				transition: 0.2s all linear;
			}
			&.open{
				&::after{
					transform: translateY(-50%) rotate(90deg);
					color: #fff;
				}
			}
			&.active,
			&:hover{
				&::after{
					color: #fff;
				}
			}
		}
	}
	.menu-inner{
		.menu-item > .menu-link{
			padding: 7px 14px;
			
			&::after{	
				color: var(--bs-body-color);
			}
			&.open{
				color: var(--bs-primary);

				&::after{
					color: var(--bs-primary);
				}
			}
			&.active,
			&:hover{
				color: var(--bs-primary);

				&::after{
					color: var(--bs-primary);
				}
			}
		}
	}
	.menu-item .menu-link{
		border-radius: 8px;
		font-size: 14px;
		padding: 10px 15px;
		color: var(--bs-heading-color);
		transition: 0.2s all linear;
		
		& > i{			
			display: inline-flex;
			font-size: 18px;
			vertical-align: text-top;
			line-height: 1;
			margin-right: 8px;
			color: var(--bs-body-color);
		}
	}
	.menubar{
		padding-left: 0;
		
		.menu-heading{
			color: var(--bs-primary);
			font-size: 12px;
			font-weight: 500;
			text-transform: uppercase;
			padding: 20px 15px 12px;
			margin-bottom: 0;
		}		
		ul{
			padding: 0;
			margin: 0;
		}
		& > li{
			margin-bottom: 5px;
		}
		li{
			display: block;
		}
		.menu-link{
			display: block;
		}
		.menu-inner{
			display: none;
		}
		.menu-item.open{
			.menu-inner{
				display: block;
			}
		}
	}
	.menubar > li.menu-item {
		& > .menu-link:hover,
		& > .menu-link.active,
		& > .menu-link.open{
			color: #fff;
			background-color: var(--bs-primary);
			box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
			
			& > i{
				color: #fff;
			}
		}
		.menu-inner{
			margin-left: 28px;
			margin-top: 8px;
			margin-bottom: 8px;
			
			.menu-item{
				width: 100%;
			}
			.menu-link.active{
				color: var(--bs-primary);
			}
			.menu-inner{
				margin-left: 20px;
			}
		}
	}
}
.app-header-inner{
    width: 100%;
    display: flex;
	justify-content: space-between;
	padding-right: 25px;
	
	@include media-breakpoint-down(xl){
		padding-right: 15px;
	}
}
.app-header-start{
	display: flex;
	align-items: center;
	margin-right: auto;
	gap: 30px;
	align-items: center;
	height: var(--app-header-height);
}
.app-header-end{
	display: flex;
    align-items: center;
	margin-left: auto;
	height: var(--app-header-height);
}
.app-toggler{
	border: 0;
    padding: 0;
    background-color: transparent;
    height: 30px;
    width: 30px;
    margin: 20px 15px;
    display: inline-block;
	
	span{
		width: 18px;
		height: 2px;
		display: block;
		background-color: var(--bs-body-color);
		border-radius: 12px;
		margin: 4px auto;
		transition: 0.1s all linear;
	}
	&.active{
		span{
		    margin: -2px auto;
		}
		span:nth-child(1){
			transform: rotate(45deg);
		}
		span:nth-child(2){
			display: none;
		}
		span:nth-child(3){
			transform: rotate(-45deg);			
		}
	}
	@include media-breakpoint-down(xl){
		&::after{
			content: "";
			position: fixed;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 99999;
			background-color: var(--custom-modal-backdrop-bg);
			opacity: 0.6;
			display: none;
		}
		&.active::after{
			display: block;
		}
	}
}
.app-sidebar-end{
	width: var(--app-sidebar-end);
    border-left: 1px solid var(--bs-border-color);
    position: fixed;
    right: 0;
    top: var(--app-header-height);
    height: calc(100vh - var(--app-header-height));
	background-color: var(--app-sidebar-bg);
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.02);
	
	.sidebar-list{
		padding: 10px;
		margin: 0;
		
		li{
			display: block;
			padding: 10px 0;
			text-align: center;
			font-size: 13px;
			color: var(--bs-headings-color);
			font-weight: 500;
			
			&:not(:last-child){				
				border-bottom: 1px solid var(--bs-border-color);
			}
		}
	}
	@media (max-width: 1480px) {
		display: none;
	}
}
:has(.app-sidebar-end){
	.app-wrapper{
		margin-right: var(--app-sidebar-end);
	}
	.footer-wrapper{
		margin-right: var(--app-sidebar-end);		
	}
}
.app-header-transparent{
	--app-header-bg: var(--custom-body-bg);
    box-shadow: none;
}
