:root{
	--app-menubar-tabs: 270px;
	--app-sidebar-panel: 410px;
}
@media (max-width: 1480px) {
	:root{
		--app-sidebar-panel: 0;
	}
}
@media (max-width: 1399px) {
	:root{
		--app-sidebar-panel: 0;
	}
}

.app-sidebar-panel{
	width: var(--app-sidebar-panel);
    border-left: 1px solid var(--bs-border-color);
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
	background-color: var(--app-sidebar-bg);
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.02);
	z-index: 9;
	padding: 45px 35px 35px;
	transition-duration: 0.3s;
    transition-property: right;
	
	.sidebar-close{
		position: absolute;
		top: 0;
		left: 0;
		display: none;
	}
	@media (max-width: 1480px) {
		padding: 30px 20px 20px;
		right: -365px;
		width: 360px;
		
		.sidebar-close{
			display: inline-block;
		}		
		&.show{
			right: 0;
		}
	}
}
.sidebar-panel-toggler{
	display: none !important;
	
	@media (max-width: 1480px) {
		display: inline-block !important;
	}
}
:has(.app-sidebar-panel){
	.app-wrapper{
		margin-right: var(--app-sidebar-panel);
	}
	.footer-wrapper{
		margin-right: var(--app-sidebar-panel);
	}
	.app-header{
		margin-right: var(--app-sidebar-panel);
		width: -webkit-fill-available;
	}
}
.app-menubar-tabs{
	width: var(--app-menubar-tabs);
    position: fixed;
    top: 0;
    z-index: 9;
    transition-duration: 0.3s;
    transition-property: width, left;
    height: 100vh;
	
	.app-navbar-brand{
		width: 70px;
		min-width: 70px;
		padding: 15px 18px;
	}
	.app-tab-content{
		position: fixed;
		left: 70px;
		top: 0;
		width: 200px;
		height: calc(100vh - (var(--footer-height) - -1px));
		overflow: hidden;
		transition-duration: 0.3s;
		transition-property: left;
		background-color: var(--custom-body-bg);
		
		.app-navbar {
			width: 100%;
			height: calc(100vh - var(--footer-height) - 70px);
		}
		.tab-content{
			height: 100%;
		}
	}
	.side-menubar{
		padding: 0;
		margin: 0;
		
		&> li{
			display: block;
		}
		.menu-heading{
			color: var(--bs-primary);
			font-size: 12px;
			font-weight: 600;
			text-transform: uppercase;
			padding: 12px 0 8px 0;
			margin-bottom: 0;
		}
		.menu-item .menu-link{
			font-size: 14px;
			padding: 8px 0;
			color: var(--bs-heading-color);
			display: block;
			
			& > i{			
				display: inline-flex;
				font-size: 18px;
				vertical-align: text-top;
				line-height: 1;
				margin-right: 8px;
				color: var(--bs-body-color);
			}
		}
		.menu-divider{
			border-bottom: 1px solid var(--bs-border-color);
			margin: 10px 0;
		}
	}
	.app-navbar {
		padding: 20px;
	}
	.app-side-brands{
		width: 100%;
		height: var(--app-header-height);
		display: flex;
		align-items: center;
		gap: 15px;
		padding: 15px 20px;
		transition-duration: 0.3s;
		transition-property: width;
		border-bottom: 1px solid var(--bs-border-color);
	}
	
	@include media-breakpoint-down(xl){
		left: calc(-1 * var(--app-menubar-tabs));
		
		.app-tab-content{
			left: -200px;
			height: 100vh;
			
			.app-navbar {
				height: calc(100vh - var(--footer-height));
			}
		}
		&.open{
			left: 0;
			
			.app-tab-content{
				left: 70px;
			}
		}
	}
}	
:has(.app-menubar-tabs){
	.app-wrapper{
		margin-left: var(--app-menubar-tabs);
		
	}
	.app-header{
		padding-left: var(--app-menubar-tabs);
	}
	.footer-wrapper {
		margin-left: 70px;
		position: relative;
	}
	@include media-breakpoint-down(xl){
		.app-wrapper{
			margin-left: 0;
		}
		.app-header{
			padding-left: 0;
		}
		.footer-wrapper{
			margin-left: 0;
		}
	}	
}


.app-navbar-tabs{
    padding: 15px;
    height: calc(100% - var(--app-header-height));
    width: 70px;
	border-right: 1px solid var(--bs-border-color);
    z-index: 9;
    background-color: var(--app-sidebar-bg);
    transition-duration: 0.3s;
    transition-property: width, left;
    box-shadow: 0px 30px 30px 10px rgba(0, 0, 0, 0.02);
    
	@include media-breakpoint-down(xl){
		height: 100%;
	}
	.nav-item{
		margin-top: 2px;
		margin-bottom: 2px;
		
		.menu-link{
			border-radius: 8px;
			font-size: 14px;
			padding: 9px 11px;
			color: var(--bs-heading-color);
			transition: 0.2s all linear;
			display: block;
			
			& > i {
				display: inline-flex;
				font-size: 18px;
				vertical-align: text-top;
				line-height: 1;
				color: var(--bs-body-color);
			}
			&.active,
			&:hover,
			&:focus{
				color: #fff;
				background-color: var(--bs-primary);
				
				i{
					color: #fff;
				}
			}
		}
	}
}