// FONT SIZE
.text-xl {
	font-size: 24px;
}
.text-lg{
	font-size: 20px;
}
.text-md{
	font-size: 18px;
}
.text-sm{
	font-size: 15px;
}
.text-xs{
	font-size: 14px;
}
.text-1xs{
	font-size: 13px;
}
.text-2xs{
	font-size: 12px;
}
.text-3xs{
	font-size: 10px;
}
.text-4xs{
	font-size: 8px;
}