.jvm-tooltip{
	font-size: 12px;
    padding: 3px 8px;
    border-radius: var(--bs-border-radius-sm);
    font-family: var(--bs-body-font-family);
}
.jsvectormap{
	min-height: 350px;
	
	@include media-breakpoint-down(sm){
		min-height: 200px;
	}
}