.list-inline-disc{
	li{
		position: relative;
		
		&:not(:first-child){
			&::before{
				content: "•";
				color: var(--bs-body-color);
				transform: translateY(-1px);
				display: inline-flex;
				margin-right: 7px;
				margin-left: 7px;
				line-height: 6px;
			}
		}
	}
}