.chat-wrapper{
	height: calc(100vh - 200px);
    display: flex;
    flex-direction: row;
    min-height: 500px;
	
	.chat-sidebar{
		width: 300px;
		min-width: 300px;
		border-right: 1px solid var(--bs-border-color);
		height: 100%;
		transition-duration: 0.3s;
		transition-property: left;
		background-color: var(--bs-body-bg);
	
		@include media-breakpoint-down(lg){
			position: absolute;
			z-index: 9999;
			left: -300px;
			
			&.open{
				left: 0;
			}
		}
	}
	.chat-nav{
		height: calc(var(--chat-height) - 75px);
		padding: 4px;
		
		.chat-nav-item{
			padding: 8px 12px 8px 15px;
			border-radius: var(--bs-border-radius);
			margin: 3px 0;
			
			&:hover,
			&.active{
				background-color: var(--bs-light);
			}
		}
	}
	.chat-nav-item{
		display: flex;
		gap: 10px;
		align-items: center;
		transition-duration: 0.3s;
		transition-property: background-color;
		
		.name{
			font-size: 16px;
			font-weight: 600;
			margin-bottom: 0;
		}
		.text{
			font-size: 13px;
			color: var(--bs-body-color);
		}
		.chat-avatar-info{
			display: flex;
			gap: 10px;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}
		.time{
			font-size: 12px;
			color: var(--bs-body-color);
			display: block;
		}
	}
	.chat-container{
		width: 100%;
		height: 100%;
	}
	.chat-body{
		background-color: var(--bs-light);
		width: 100%;
		height: calc(var(--chat-height) - 75px);
	}
	.chat-header{
		padding: 10px 20px;
		border-bottom: 1px solid var(--bs-border-color);
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		@include media-breakpoint-down(sm){
			padding: 10px 12px;
		}
	}
	.sidebar-mobile-overlay{
		position: absolute;
		left: 0;
		top: 0;
		background-color: var(--custom-modal-backdrop-bg);
		width: 100%;
		height: 100%;
		z-index: 999;
		opacity: 0.6;
		display: none;
		
		&.show{
			display: block;
		}
	}
	.chat-send-form{
		padding: 12px;
		width: 100%;
		background-color: var(--bs-body-bg);
		border-top: 1px solid var(--bs-border-color);
		display: flex;
		align-items: center;
	}
}

.chat-conversation{
	padding: 20px;
    height: calc(100% - 65px);
	
	@include media-breakpoint-down(sm){
		padding: 10px;
	}
	.chat-divider{	
	    text-align: center;
		margin-bottom: 20px;
		margin-top: 20px;
		
		.chat-date{
			padding: 7px 10px;
			background: var(--bs-body-bg);
			border-radius: var(--bs-border-radius);
			color: var(--bs-dark);
			font-size: 14px;
			line-height: 1.2;
			display: inline-block;
		}
	}
	.chat-message-text{
		padding: 12px 15px;
		background: var(--bs-body-bg);
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
		border-radius: 0 10px 10px 0px;
		display: inline-block;
		font-size: 15px;
		color: var(--bs-dark);
		line-height: 1.5;
		
		p{
			margin: 0;
		}
		&:first-child{
			border-radius: 10px 10px 10px 0px;			
		}
		&:nth-last-child(2){
			border-radius: 0 10px 10px 10px;			
		}
		@include media-breakpoint-down(sm){
		    font-size: 13px;
		}
	}
	.chat-time{
		font-size: 12px;
	}
    .chat-message-left,
    .chat-message-right{
		display: flex;
		flex-direction: column;
		gap: 4px;
		margin-bottom: 10px;
		max-width: 600px;
	}
    .chat-message-left{
		align-items: start;
		margin-right: auto;
	}
	.chat-message-right{
		align-items: end;
		margin-left: auto;
	
		.chat-message-text{
			background-color: var(--bs-primary);
			color: #fff;
			border-radius: 10px 0 0 10px;
			
			&:first-child{
				border-radius: 10px 10px 0 10px;			
			}
			&:nth-last-child(2){
				border-radius: 10px 0 10px 10px;			
			}
		}
	}
}