.mail-wrapper{
	height: calc(100vh - 200px);
	display: flex;
	flex-direction: row;
	
	@include media-breakpoint-down(lg){
		height: 100%;
	}
	.mail-sidebar{
		width: 220px;
		min-width: 220px;
		border-right: 1px solid var(--bs-border-color);
		height: 100%;
		transition-duration: 0.3s;
		transition-property: left;
		
		@include media-breakpoint-down(lg){
			position: fixed;
			left: -220px;
			top: 0;
			height: 100vh;
			z-index: 999;
			
			&.open{
				left: 0;			
			}
		}
	}
	.mail-nav{
	    height: calc(100vh - 265px);
		
		.mail-nav-item{
			font-size: 15px;
			color: var(--bs-heading-color);
			padding: 8px 15px;
			border-radius: var(--bs-border-radius);
			transition-duration: 0.3s;
			transition-property: box-shadow, background-color;
			display: flex;
			align-items: center;
			margin: 5px 0;
			
			i{
				color: var(--bs-body-color);
				transition-duration: 0.3s;
				transition-property: color;
				font-size: 18px;
			}
			
			&:hover,
			&.active{
				background-color: var(--bs-body-bg);
				box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
				
				i{
					color: var(--bs-primary);
				}
			}
		}
		@include media-breakpoint-down(lg){
		    height: calc(100vh - 65px);
		}
	}
	.mail-body{
		width: 100%;
		height: 100%;
	}
	.mail-header{
		padding: 12px 20px;
		border-bottom: 1px solid var(--bs-border-color);
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 65px;
		flex-wrap: wrap;
		gap: 10px;
		
		@include media-breakpoint-down(lg){
			height: auto;
		}
	}
	.mail-read-wrapper{
		height: calc(100vh - 400px);
		
		@include media-breakpoint-down(lg){
			height: auto;
		}
	}
	.sidebar-mobile-overlay{
		position: fixed;
		left: 0;
		top: 0;
		background-color: var(--custom-modal-backdrop-bg);
		width: 100%;
		height: 100%;
		z-index: 999;
		opacity: 0.6;
		display: none;
		
		&.show{
			display: block;
		}
	}
}
.mail-list{
	height: calc(100vh - 20rem);

	.mail-list-item{
		border-bottom: 1px solid var(--bs-border-color);
		padding: 12px 20px;
		font-size: 14px;
		font-weight: 400;
		position: relative;
		display: flex;
		align-items: center;
		
		&.mail-unread{
			background-color: rgba(var(--bs-light-rgb), 0.5);
		}
		.mail-item-content{
		    display: flex;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			width: 85%;
		}
		.mail-item-username{
			color: var(--bs-heading-color);
			min-width: 140px;
			width: 140px;
			display: inline-block;
			font-weight: 500;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;  
		}
		.mail-item-text{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;  
		}
		.mail-item-bookmark{
			font-size: 16px;
			display: inline-block;
			margin-top: 2px;
			line-height: 1;
			cursor: pointer;
			color: var(--bs-body-color);
			
			&.active{
				color: var(--bs-warning);
			}
		}
		.mail-item-subject{
			color: var(--bs-heading-color);
			font-weight: 600;
			width: max-content;
			margin-right: 5px;
		}
		.mail-item-actions{
			display: flex;
			gap: 8px;
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			opacity: 0;
			transition: all 0.3s;
		}
		.mail-item-time{
			transition: all 0.3s;
		}
		.mail-item-meta{
		    min-width: 100px;
			text-align: right;
		}
		&:hover{
			.mail-item-actions{
				opacity: 1;
			}
			.mail-item-time{
				opacity: 0;
			}
		}
		@include media-breakpoint-down(lg){
			font-size: 13px;		
			padding: 12px 15px;
			
			.mail-item-username{
				min-width: 100px;
				width: 100px;
			}
			.mail-item-content{
				width: 100%;
			}
			.mail-item-meta {
				min-width: 85px;
			}
		}
		@include media-breakpoint-down(sm){
			.mail-item-meta {
				min-width: 65px;
			}
			.mail-item-username {
				min-width: 80px;
				width: 80px;
			}
		}
	}
}
.mail-textarea{
	border: 0 !important;
    resize: none;
    border-radius: 0;
    box-shadow: none  !important;
    padding: 25px;
    color: var(--bs-dark);
    height: calc(100vh - 32rem);
	
	&:focus{
		color: var(--bs-dark);
	}
}