.blockquote,
blockquote.blockquote{
	--blockquote-spacing: 30px;
	position: relative;
	background-color: rgba(var(--bs-primary-rgb), 0.08);
    padding: var(--blockquote-spacing) calc(var(--blockquote-spacing) + 50px) var(--blockquote-spacing) calc(var(--blockquote-spacing) + 70px);
    font-size: 16px;
    color: var(--bs-heading-color);
    font-weight: 600;
	
	&::before {
		content: "";
		height: 40px;
		width: 40px;
		display: inline-block;
		background-color: var(--bs-primary);
		-webkit-mask: url("data:image/svg+xml,<svg width='40' height='30' viewBox='0 0 40 30' xmlns='http://www.w3.org/2000/svg'><path d='M0 0V30L15 15V0H0Z'/><path d='M25 0V30L40 15V0H25Z'/></svg>") no-repeat center / contain;
		mask: url("data:image/svg+xml,<svg width='40' height='30' viewBox='0 0 40 30' xmlns='http://www.w3.org/2000/svg'><path d='M0 0V30L15 15V0H0Z'/><path d='M25 0V30L40 15V0H25Z'/></svg>") no-repeat center / contain;
		position: absolute;
		left: var(--blockquote-spacing);
		top: var(--blockquote-spacing);
	}
	&::after{
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		border-top: 20px solid var(--bs-body-bg);
		border-right: 20px solid var(--bs-body-bg);
		border-bottom: 20px solid rgba(var(--bs-primary-rgb), 0.15);
		border-left: 20px solid rgba(var(--bs-primary-rgb), 0.15);
	}
	p{
		margin-bottom: 15px;
		font-size: inherit;
		font-weight: inherit;
	}
	cite{
		color: var(--bs-body-color);
		font-size: 12px;
		text-transform: uppercase;
		font-style: normal;
		font-weight: 600;
		display: block;
		
		&::before{
			content: "-";
			margin-right: 2px;
		}
	}
	@include media-breakpoint-down(lg){
		--blockquote-spacing: 25px;
		padding: var(--blockquote-spacing) calc(var(--blockquote-spacing) + 55px);
		
		&::before{
			height: 32px;
			width: 32px;
		}
	}
	@include media-breakpoint-down(md){
		font-size: 16px;
	}
	@include media-breakpoint-down(sm){
		--blockquote-spacing: 20px;
		font-size: 14px;
		padding-right: 35px;
		padding-left: 60px;
		
		&::after{
			border-top: 15px solid var(--bs-body-bg);
			border-right: 15px solid var(--bs-body-bg);
			border-bottom: 15px solid rgba(var(--bs-primary-rgb), 0.15);
			border-left: 15px solid rgba(var(--bs-primary-rgb), 0.15);
		}
		&::before{
			height: 25px;
			width: 25px;
		}
		p{
			margin-bottom: 10px;
		}
	}
}