.btn-primary{
	--bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-btn-primary-hover);
    --bs-btn-hover-border-color: var(--bs-btn-primary-border-hover);
    --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
    --bs-btn-active-bg: var(--bs-btn-primary-active);
    --bs-btn-active-border-color: var(--bs-btn-primary-active);
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
}
.btn-outline-primary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-disabled-color: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
}
.btn-secondary{
	--bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-btn-secondary-hover);
    --bs-btn-hover-border-color: var(--bs-btn-secondary-border-hover);
    --bs-btn-focus-shadow-rgb: var(--bs-secondary-rgb);
    --bs-btn-active-bg: var(--bs-btn-secondary-active);
    --bs-btn-active-border-color: var(--bs-btn-secondary-active);
    --bs-btn-disabled-bg: var(--bs-secondary);
    --bs-btn-disabled-border-color: var(--bs-secondary);
}
.btn-outline-secondary{
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-focus-shadow-rgb: var(--bs-secondary-rgb);
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active-border-color: var(--bs-secondary);
    --bs-btn-disabled-color: var(--bs-secondary);
    --bs-btn-disabled-border-color: var(--bs-secondary);
}
.btn-sm{
    --bs-btn-line-height: 1.448;
}
.btn-lg{
    --bs-btn-line-height: 1.467;
}
.btn-xl{
    --bs-btn-line-height: 1.8;
	font-size: 18px;
	padding: 12px 24px;
}
.btn[class*="btn-subtle-"]{
	&:hover, &:active, &:focus{
		color: #fff;
	}
}
.btn-light{
	--bs-btn-hover-color: var(--bs-btn-color);	
}
.btn-outline-light {
    --bs-btn-color: var(--bs-heading-color);
}
.btn-shadow{
	box-shadow: 0 2px 4px 0 rgba(225, 229, 237, 0.2);
	
	[data-bs-theme="dark"] &{
	    box-shadow: 0 2px 4px 0 rgb(36, 37, 60, 0.1);
	}
}
.btn-white{
	--bs-btn-color: var(--bs-heading-color);
	--bs-btn-bg: var(--bs-body-bg);
    --bs-btn-border-color: var(--bs-border-color);
	--bs-btn-hover-color: var(--bs-heading-color);
    --bs-btn-hover-bg: var(--bs-body-bg);
    --bs-btn-hover-border-color: var(--bs-border-color);
    --bs-btn-active-color: var(--bs-heading-color);
    --bs-btn-active-bg: var(--bs-body-bg);
	--bs-btn-active-border-color: var(--bs-border-color);
    --bs-btn-disabled-color: var(--bs-heading-color);
    --bs-btn-disabled-bg: var(--bs-body-bg);
    --bs-btn-disabled-border-color: var(--bs-body-bg);
}
.btn-outline-light {
    --bs-btn-color: var(--bs-heading-color);
    --bs-btn-border-color: var(--bs-border-color);
    --bs-btn-hover-color: var(--bs-heading-color);
    --bs-btn-hover-bg: var(--bs-light);
    --bs-btn-hover-border-color: var(--bs-light);
    --bs-btn-focus-shadow-rgb: 236, 242, 253;
    --bs-btn-active-color: var(--bs-heading-color);
    --bs-btn-active-bg: var(--bs-light);
    --bs-btn-active-border-color: var(--bs-border-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-light);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-border-color);
}

@each $color, $value in $theme-colors {
	.btn.btn-subtle-#{$color}{
		background-color: var(--bs-#{$color}-bg-subtle);
		border-color: var(--bs-#{$color}-bg-subtle);
		color: var(--bs-#{$color});
		
		&:hover, &:active, &:focus{
			border-color: var(--bs-#{$color});
			background-color: var(--bs-#{$color});
		}
	}
	.btn.btn-action-#{$color}{
		color: var(--bs-#{$color});
		
		&:hover,
		&:active,
		&:focus{
			background-color: var(--bs-#{$color}-bg-subtle);
			border-color: var(--bs-#{$color}-bg-subtle);
			color: var(--bs-#{$color});
		}
	}
}
.btn.btn-subtle-light{
	color: var(--bs-dark);
}

.btn:not(.dropdown-toggle){
	transform: scale(1.002);
	transition: all .125s ease-in-out;
}
.btn[class*=btn-]:active:not(.dropdown-toggle),
.btn[class*=btn-].active:not(.dropdown-toggle){
    transform: scale(0.982);
    transition: all .125s ease-in-out;
}
.btn-icon{
    display: inline-flex;
    font-size: 16px;
    block-size: 40px;
    inline-size: 40px;
    min-inline-size: 40px;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.btn-icon.btn-sm{
	font-size: 14px;
    block-size: 32px;
    inline-size: 32px;
	min-inline-size: 32px;
}
.btn-icon.btn-lg{
	font-size: 18px;
    block-size: 48px;
    inline-size: 48px;
	min-inline-size: 48px;
}
.btn-icon.btn-xl{
	font-size: 24px;
    block-size: 60px;
    inline-size: 60px;
    min-inline-size: 60px;
}
.btn.border-dashed{
	border-style: dashed !important;
}

@each $color, $value in $social-colors {
	.btn.btn-#{$color}{
		--#{$color}-btn-bg: #{$value};
		--#{$color}-btn-bg-hover: #{shade-color($value, 10%)};
		
		--#{$color}-btn-color: #fff;
		--#{$color}-btn-color-hover: #fff;
		
		background-color: var(--#{$color}-btn-bg);
		color: var(--#{$color}-btn-color);
		
		&:hover,
		&:active,
		&:focus{
			background-color: var(--#{$color}-btn-bg-hover);
			color: var(--#{$color}-btn-color-hover);
		}
	}
	.btn.btn-subtle-#{$color}{
		--#{$color}-btn-bg: rgba(#{to-rgb($value), 0.2});
		--#{$color}-btn-bg-hover: #{$value};
		
		--#{$color}-btn-color: #{$value};
		--#{$color}-btn-color-hover: #fff;
		
		--#{$color}-btn-border-color: rgba(#{to-rgb($value), 0.1});
		--#{$color}-btn-border-color-hover: #{$value};
		
		background-color: var(--#{$color}-btn-bg);
		color: var(--#{$color}-btn-color);
		border-color: var(--#{$color}-btn-border-color);
		
		&:hover,
		&:active,
		&:focus{
			background-color: var(--#{$color}-btn-bg-hover);
			color: var(--#{$color}-btn-color-hover);
			border-color: var(--#{$color}-btn-border-color-hover);
		}
	}
	.btn.btn-outline-#{$color}{
		--#{$color}-btn-bg: rgba(#{to-rgb($value), 0.9});
		--#{$color}-btn-bg-hover: #{$value};
		
		--#{$color}-btn-color: #{$value};
		--#{$color}-btn-color-hover: #fff;
		
		--#{$color}-btn-border-color: #{$value};
		--#{$color}-btn-border-color-hover: #{$value};
		
		border: 1px solid var(--#{$color}-btn-border-color);
		color: var(--#{$color}-btn-color);
		
		&:hover,
		&:active,
		&:focus{
			background-color: var(--#{$color}-btn-bg-hover);
			color: var(--#{$color}-btn-color-hover);
			border-color: var(--#{$color}-btn-border-color-hover);
		}
	}
	.btn.btn-action-#{$color}{
		--#{$color}-btn-bg: rgba(#{to-rgb($value), 0.2});
		--#{$color}-btn-bg-hover: #{$value};
		
		--#{$color}-btn-color: #{$value};
		--#{$color}-btn-color-hover: #fff;
		
		--#{$color}-btn-border-color: #{$value};
		--#{$color}-btn-border-color-hover: rgba(#{to-rgb($value), 0.1});
		
		color: var(--#{$color}-btn-color);
		
		&:hover,
		&:active,
		&:focus{
			background-color: var(--#{$color}-btn-bg);
			color: var(--#{$color}-btn-color);
			border-color: var(--#{$color}-btn-border-color-hover);
		}
	}
}

.btn.btn-snapchat{
	--snapchat-btn-color: #000;
	--snapchat-btn-color-hover: #000;
}
.btn.btn-subtle-snapchat {
    --snapchat-btn-color: #000;
    --snapchat-btn-color-hover: #000;
}
.btn.btn-outline-snapchat {
    --snapchat-btn-color-hover: #000000;
}
.btn.btn-action-snapchat {
    --snapchat-btn-color: #000000;
    --snapchat-btn-color-hover: #000000;
}