.list-group-outer{
	margin-left: -10px;
	margin-right: -10px;
}
.list-group-unlined{
	--bs-list-group-border-width: 0 !important;
	
	.list-group-item{
		border-width: 0 !important;
	}
}
.list-group-space{
	&-sm .list-group-item:not(:last-child){
		margin-bottom: 5px;
	}
	.list-group-item:not(:last-child){
		margin-bottom: 10px;
	}
	&-lg .list-group-item:not(:last-child){
		margin-bottom: 15px;
	}
}
.list-group-hover .list-group-item{
	@include transition(background-color, 0.3s, ease);
	
	&:hover{
		background-color: rgba(var(--bs-primary-rgb), 0.05);
		border-color: rgba(var(--bs-primary-rgb), 0.05);
	}
}
.list-group-smooth{
	--bs-list-group-item-padding-x: 10px;
    --bs-list-group-item-padding-y: 10px;
	--bs-list-group-border-width: 1px;
	
	.list-group-item{
		border-width: 1px;
		border-radius: var(--bs-border-radius-lg);
	}
}

.list-group-item-action.active{
	--bs-heading-color: #fff;
}