.flatpickr-calendar.inline{
	.flatpickr-month{
		margin-top: 10px;
	}
}
.flatpickr-calendar{
	font-size: 13px;
	background: var(--bs-body-bg);
	-webkit-box-shadow: 1px 0 0 var(--bs-border-color), -1px 0 0 var(--bs-border-color), 0 1px 0 var(--bs-border-color), 0 -1px 0 var(--bs-border-color), 0 3px 13px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0 0 var(--bs-border-color), -1px 0 0 var(--bs-border-color), 0 1px 0 var(--bs-border-color), 0 -1px 0 var(--bs-border-color), 0 3px 13px rgba(0, 0, 0, 0.08);
}
span.flatpickr-weekday {
    color: var(--bs-heading-color);
}
.flatpickr-calendar .flatpickr-month .flatpickr-monthDropdown-months{
	--bs-form-select-bg-img: #{escape-svg($form-select-indicator)};
  
	width: 50%;
	padding: 6px 20px 6px 15px;
	font-family: $form-select-font-family;
	font-size: 12px;
	font-weight: 600;
	line-height: $form-select-line-height;
	color: $form-select-color;
	appearance: none;
	background-color: var(--bs-light);
	background-image: var(--bs-form-select-bg-img);
	background-repeat: no-repeat;
	background-position: center right 12px;
	background-size: $form-select-bg-size;
	border: 0;
	border-radius: var(--bs-border-radius);
	
	&:focus {
		border-color: $form-select-focus-border-color;
		outline: 0;
	}

	&:disabled {
		color: $form-select-disabled-color;
		background-color: $form-select-disabled-bg;
		border-color: $form-select-disabled-border-color;
	}
	
	// Remove outline from select box in FF
	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 $form-select-color;
	}
}
.flatpickr-calendar .flatpickr-current-month {
    font-size: 100%;
    line-height: inherit;
    width: 100%;
	position: static;
	height: auto;
    display: flex;
    gap: 5px;
    padding: 0 30px;
}
.flatpickr-calendar .flatpickr-month{
	.numInputWrapper{
		width: 50%;
		background: transparent;
		
		&:hover {
			background: transparent;
		}
	}
	.numInput{
		width: 100%;
		padding: 6px 15px;
		font-family: $input-font-family;
		font-size: 12px;
		font-weight: $input-font-weight;
		line-height: $input-line-height;
		color: $input-color;
		background-color: var(--bs-light);
		background-clip: padding-box;
		border: 0;
		border-radius: var(--bs-border-radius);
	}
}
.flatpickr-current-month .flatpickr-monthDropdown-months:hover{
	background-color: var(--bs-light);
}
.flatpickr-day {
    color: var(--bs-heading-color);
    font-weight: 600;
    max-width: 40px;
    height: 40px;
    line-height: 40px;
}
.flatpickr-day.today,
.flatpickr-day.today:hover,
.flatpickr-day.today:focus{
    border-color: var(--bs-primary);
    background-color: var(--bs-primary);
    color: #fff;
}
.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay{
    color: var(--bs-body);
}
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay{
    background: var(--bs-secondary);
    border-color: var(--bs-secondary);
}
.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
    background: var(--bs-light);
    border-color: var(--bs-light);
}
.flatpickr-day.nextMonthDay.today,
.flatpickr-day.nextMonthDay.today:hover{
	color: #fff;
	background-color: var(--bs-primary);
	border-color: var(--bs-primary);
}
.flatpickr-day.nextMonthDay.selected,
.flatpickr-day.nextMonthDay.selected:hover{
	color: #fff;
	background-color: var(--bs-secondary);
	border-color: var(--bs-secondary);
}
.flatpickr-months{
	.flatpickr-month {
		height: auto;
	}
	.flatpickr-prev-month,
	.flatpickr-next-month {
		color: var(--bs-heading-color);
		fill: var(--bs-heading-color);
		opacity: 0.9;
	}
}
.flatpickr-calendar{
	.flatpickr-months{
		margin-bottom: 10px;
		margin-top: 10px;
		
		.flatpickr-prev-month,
		.flatpickr-next-month{
			top: 10px;
			height: auto;
			padding: 4px;
			line-height: 1.4;
		}
	}
}
.flatpickr-day.inRange {
    -webkit-box-shadow: -5px 0 0 var(--bs-light), 5px 0 0 var(--bs-light);
    box-shadow: -5px 0 0 var(--bs-light), 5px 0 0 var(--bs-light);
}
.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
    -webkit-box-shadow: -10px 0 0 var(--bs-secondary);
    box-shadow: -10px 0 0 var(--bs-secondary);
}


.flatpickr-inline-custom ~ .flatpickr-calendar{
	width: 100%;
	box-shadow: none;
	
	.dayContainer {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
	}
	.flatpickr-days {
		width: 100%;
	}
	
	.flatpickr-months{
		margin-top: 0;
		
		.flatpickr-month{
			margin-top: 0;
		}
		.flatpickr-prev-month,
		.flatpickr-next-month{
			top: 0;
		}
	}
}
.flatpickr-time{
	.flatpickr-time-separator,
	.flatpickr-am-pm{
		color: var(--bs-body-color);
	}
	input {
		color: var(--bs-body-color);
	}
	input:hover,
	.flatpickr-am-pm:hover,
	input:focus,
	.flatpickr-am-pm:focus {
		background: transparent;
	}
}
.flatpickr-calendar.hasTime .flatpickr-time {
    border-color: var(--bs-border-color);
}
.flatpickr-weekwrapper{
	span.flatpickr-day,
	span.flatpickr-day:hover {
		color: var(--bs-body-color);
	}
	.flatpickr-weeks{
		-webkit-box-shadow: 1px 0 0 var(--bs-border-color);
		box-shadow: 1px 0 0 var(--bs-border-color);
	}
}
.flatpickr-calendar.arrowTop:after {
    border-bottom-color: var(--bs-body-bg);
}
.flatpickr-calendar.arrowTop:before {
    border-bottom-color: var(--bs-border-color);
}
.flatpickr-calendar.arrowBottom:before {
    border-top-color: var(--bs-body-bg);
}