@each $color, $value in $theme-colors {
	.check-#{$color}{
		&:checked{
			background-color: var(--bs-#{$color});
			border-color: var(--bs-#{$color});
		}
		&:focus{
			border-color: var(--bs-#{$color});
		}
	}
	.switch-#{$color}{
		&:checked{
			background-color: var(--bs-#{$color});
			border-color: var(--bs-#{$color});
		}
		&:focus{
			border-color: var(--bs-#{$color});
		}
	}
}