// Theme map define
$themes: (
	blue: (
		primary: #316AFF,
		secondary: #FF8110,
		light: #ECF2FD
	),
	orange: (
		primary: #FD6A03,
		secondary: #5A44BD,
		light: #F8F8F8
	),
	pink: (
		primary: #F1416C,
		secondary: #9B59B6,
		light: #F8F8F8
	),
	purple: (
		primary: #7239EA,
		secondary: #FF7F50,
		light: #F8F8F8
	)
);

// Generate theme CSS dynamically
@each $theme, $colors in $themes {
	[data-color-theme="#{$theme}"] {
		$primary: map-get($colors, primary);
		$secondary: map-get($colors, secondary);
		$light: map-get($colors, light);

		--bs-link-color: #{$primary};
		--bs-link-color-rgb: #{to-rgb($primary)};

		--bs-link-hover-color: #{shade-color($primary, 15%)};
		--bs-link-hover-color-rgb: #{to-rgb(shade-color($primary, 15%))};

		--bs-primary: #{$primary};
		--bs-secondary: #{$secondary};
		--bs-light: #{$light};

		--bs-primary-rgb: #{to-rgb($primary)};
		--bs-secondary-rgb: #{to-rgb($secondary)};
		--bs-light-rgb: #{to-rgb($light)};

		--bs-primary-text-emphasis: #{shade-color($primary, 60%)};
		--bs-secondary-text-emphasis: #{shade-color($secondary, 60%)};
		--bs-light-text-emphasis: #{shade-color($light, 60%)};

		--bs-primary-bg-subtle: #{tint-color($primary, 90%)};
		--bs-secondary-bg-subtle: #{tint-color($secondary, 90%)};
		--bs-light-bg-subtle: #{tint-color($light, 70%)};

		--bs-primary-border-subtle: #{tint-color($primary, 80%)};
		--bs-secondary-border-subtle: #{tint-color($secondary, 90%)};
		--bs-light-border-subtle: #{tint-color($light, 70%)};

		--bs-btn-primary-hover: #{shade-color($primary, 10%)};
		--bs-btn-primary-border-hover: #{shade-color($primary, 12%)};
		--bs-btn-primary-active: #{shade-color($primary, 12%)};

		--bs-btn-secondary-hover: #{shade-color($secondary, 10%)};
		--bs-btn-secondary-border-hover: #{shade-color($secondary, 12%)};
		--bs-btn-secondary-active: #{shade-color($secondary, 12%)};
		
	}
	[data-bs-theme=dark][data-color-theme="#{$theme}"] {
		$primary: map-get($colors, primary);
		$secondary: map-get($colors, secondary);
		$light: map-get($colors, light);

		--bs-primary-bg-subtle: #{shade-color($primary, 90%)};
		--bs-secondary-bg-subtle: #{shade-color($secondary, 90%)};
		--bs-light-bg-subtle: #{shade-color($light, 70%)};

		--bs-primary-border-subtle: #{shade-color($primary, 80%)};
		--bs-secondary-border-subtle: #{shade-color($secondary, 90%)};
		--bs-light-border-subtle: #{shade-color($light, 70%)};
	}
}