@import "./pages/mail";
@import "./pages/chat";
@import "./pages/error";
@import "./pages/maintenance";
@import "./pages/coming-soon";


.bar-hover .apexcharts-bar-area:hover {
	fill: var(--bs-primary);
}