// begin::GXON variables basic
$body-color-dark: #8c96a9;
$body-bg-dark: #282b44;
$body-secondary-bg-dark: #26283e;
$headings-color-dark: #fff;
$border-color-dark: #3a3b4d;

$body-tertiary-bg-dark: #26283e !default;
// end::GXON variables basic


// begin::GXON variables theme text dark
$light-text-emphasis-dark:          #888bb2 !default;
$dark-text-emphasis-dark:           #999999 !default;
// end::GXON variables theme text dark


// begin::GXON variables theme bg subtle dark
$light-bg-subtle-dark:              #1a1c31 !default;
$dark-bg-subtle-dark:               #10101d !default;
$gray-bg-subtle-dark:          		#393c56 !default;
// end::GXON variables theme bg subtle dark


// begin::GXON variables theme border subtle dark
$light-border-subtle-dark:          #484c83 !default;
$dark-border-subtle-dark:           #494949 !default;
// end::GXON variables theme border subtle dark


// begin::GXON variables theme text dark
$light-custom-dark: #1a1c31;
$dark-custom-dark:  #b9c2da;
// end::GXON variables theme text dark