:root{
	--custom-modal-backdrop-bg: #a6adbf;
}

// begin::GXON variables basic
$min-contrast-ratio:   1.5 !default;

$body-bg:            #fff !default;
$body-secondary-bg:  #f9f9f9 !default;
$body-color:       	 #97A1C0 !default;
$border-color:     	 #E8EBF1;
$headings-color:   	 #0C243C;
$font-family-base: 	 "Plus Jakarta Sans", sans-serif !default;
$font-size-base:   	 0.875rem !default;
$line-height-base: 	 1.6 !default;
$link-decoration:    none !default;
$headings-font-weight: 600;
$font-weight-base:     500;
$dt-font-weight: 500;
// end::GXON variables basic


// begin::GXON variables social media brand colors
$facebook:      #1877F2;
$twitter:       #000000;
$instagram:     #ee7253;
$github:        #22252c;
$youtube:       #FF0000;
$linkedin:      #0A66C2;
$whatsapp:      #25D366;
$pinterest:     #BD081C;
$snapchat:      #f7f400;
$telegram:      #0088CC;
$tiktok:        #010101;
$reddit:        #FF4500;

$social-colors: (
  "facebook":   $facebook,
  "twitter":  	$twitter,
  "instagram":  $instagram,
  "github":     $github,
  "youtube":    $youtube,
  "linkedin":   $linkedin,
  "whatsapp":   $whatsapp,
  "pinterest":  $pinterest,
  "snapchat":   $snapchat,
  "telegram":   $telegram,
  "tiktok":     $tiktok,
  "reddit":     $reddit,
) !default;
// end:GXON variables social media brand colors


// begin::GXON variables theme color
$primary:       #316AFF !default;
$secondary:     #FF8110 !default;
$success:    	#22B07E !default;
$info:          #02B4FA !default;
$warning:       #FDBB1F !default;
$danger:        #FF401C !default;
$light:         #ECF2FD !default;
$dark:          #0C243C !default;
$gray:          #97A1C0 !default;
$white:         #ffffff !default;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "white":      $white,
  "gray":       $gray
) !default;
// end::GXON variables theme color


// begin::GXON variables gray color
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// end::GXON variables gray color


// begin::GXON variables gray colors map
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
) !default;
// end::GXON variables gray colors map


// begin::GXON variables theme text emphasis
$primary-text-emphasis:   shade-color($primary, 60%) !default;
$secondary-text-emphasis: shade-color($secondary, 60%) !default;
$success-text-emphasis:   shade-color($success, 60%) !default;
$info-text-emphasis:      shade-color($info, 60%) !default;
$warning-text-emphasis:   shade-color($warning, 60%) !default;
$danger-text-emphasis:    shade-color($danger, 60%) !default;
$light-text-emphasis:     $gray-700 !default;
$dark-text-emphasis:      $gray-700 !default;
$gray-text-emphasis:      $gray-100 !default;
// end::GXON variables theme text emphasis


// begin::GXON variables theme bg subtle
$primary-bg-subtle:       tint-color($primary, 90%) !default;
$secondary-bg-subtle:     tint-color($secondary, 90%) !default;
$success-bg-subtle:       tint-color($success, 90%) !default;
$info-bg-subtle:          tint-color($info, 90%) !default;
$warning-bg-subtle:       tint-color($warning, 90%) !default;
$danger-bg-subtle:        tint-color($danger, 90%) !default;
$light-bg-subtle:         mix($gray-100, $white) !default;
$dark-bg-subtle:          $gray-400 !default;
$gray-bg-subtle:          $gray-100 !default;
// end::GXON variables theme bg subtle


// begin::GXON variables theme border subtle
$primary-border-subtle:   tint-color($primary, 75%) !default;
$secondary-border-subtle: tint-color($secondary, 75%) !default;
$success-border-subtle:   tint-color($success, 75%) !default;
$info-border-subtle:      tint-color($info, 75%) !default;
$warning-border-subtle:   tint-color($warning, 75%) !default;
$danger-border-subtle:    tint-color($danger, 75%) !default;
$light-border-subtle:     $gray-200 !default;
$dark-border-subtle:      $gray-500 !default;
$gray-border-subtle:      $gray-100 !default;
// end::GXON variables theme border subtle


// begin::GXON variables spacer
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2.5,
  6: $spacer * 2.813,
  7: $spacer * 3.125
);

$enable-negative-margins: true;
// end::GXON variables spacer


// begin::GXON variables border radius
$border-radius:       .375rem;
$border-radius-sm:    .25rem;
$border-radius-lg:    .625rem;
$border-radius-xl:    1rem;
$border-radius-xxl:   2rem;
$border-radius-pill:  50rem;
// end::GXON variables border radius


// begin::GXON variables box shadow
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow-lg:               0 0.26rem 1.126rem 0 rgba(45, 42, 60, 0.15) !default;
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075) !default;
// end::GXON variables box shadow


// begin::GXON variables Component
$component-active-bg: var(--bs-primary) !default;
// end::GXON variables Component


// begin::GXON variables border
$border-width:                1px !default;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
) !default;
$border-style:                solid !default;
$border-color:                $gray-300 !default;
$border-color-translucent:    rgba($black, .1) !default;
// end::GXON variables border


// begin::GXON variables card
$card-spacer-y:       20px;
$card-spacer-x:       20px;
$card-border-color:   var(--bs-border-color);
$card-border-radius:  $border-radius-lg;
$card-box-shadow:     0px 5px 10px 0px rgba(0, 0, 0, 0.02);
$card-cap-padding-y:  $card-spacer-y;
$card-cap-padding-x:  $card-spacer-x;
$card-bg:             var(--bs-body-bg);
$card-height:  		  calc(100% - var(--bs-gutter-x));
$card-cap-bg:  		  transparent;
// end::GXON variables card


// begin::GXON variables focus ring
$focus-ring-width:      0.1rem !default;
$focus-ring-opacity:    .25 !default;
$focus-ring-color:      rgba($primary, $focus-ring-opacity) !default;
$focus-ring-blur:       0 !default;
$focus-ring-box-shadow: 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color !default;
// end::GXON focus ring


// begin::GXON variables input button
$input-btn-padding-y: 0.532rem;
$input-btn-padding-x: 1.2rem;
$input-btn-font-size: 14px;

$input-btn-padding-y-sm: 0.35rem;
$input-btn-padding-x-sm: 0.70rem;
$input-btn-font-size-sm: 13px;

$input-btn-padding-y-lg: 0.75rem;
$input-btn-padding-x-lg: 1.4rem;
$input-btn-font-size-lg: 15px;

$btn-border-radius:      8px;
$btn-border-radius-sm:   6px;
$btn-border-radius-lg:   10px;

$btn-font-weight: 500;
$btn-line-height: 1.5;
$btn-transition: 	color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out !default;
// end::GXON variables input button


// begin::GXON variables input
$input-border-radius-sm: 8px;
$input-placeholder-color: var(--bs-body-color);
$input-focus-border-color: var(--bs-primary);
$input-focus-box-shadow: 0 .1rem .3rem 0 rgba(var(--bs-primary-rgb), 0.2), 0 0 0 1px var(--bs-primary);
// end::GXON variables input


// begin::GXON variables badge
$badge-padding-x:   10px;
$badge-padding-y:   4px;
$badge-font-size:   12px;
$badge-font-weight: 500;
// end::GXON variables badge


// begin::GXON variables alert
$btn-close-width:        10px;
$btn-close-height:       10px;
$alert-padding-x:        15px;
$alert-padding-y:        12px;
$alert-margin-bottom:    12px;
$alert-link-font-weight: 600;
// end::GXON variables alert


// begin::GXON variables progress
$progress-height: 12px;
$progress-bar-bg: var(--bs-primary)!default;
// end::GXON variables progress


// begin::GXON variables dropdown
$dropdown-padding-x: 6px;
$dropdown-padding-y: 6px;
$dropdown-border-color: var(--bs-border-color);
$dropdown-link-active-color: var(--bs-primary);
$dropdown-link-active-bg: var(--bs-primary-bg-subtle);
// end::GXON variables dropdown


// begin::GXON variables table
$table-color: var(--bs-heading-color);
$table-cell-vertical-align: middle;
$table-cell-padding-y: 10px;
$table-cell-padding-x: 15px;

$table-cell-padding-y-sm: 8px;
$table-cell-padding-x-sm: 6px;

$table-bg: transparent;
$table-border-factor: 0.1;

$table-hover-bg-factor: .025;
// end:GXON variables table


// begin::GXON variables accordion
$accordion-padding-y:                     15px !default;
$accordion-padding-x:                     20px !default;
$accordion-color:                         var(--bs-body-color) !default;
$accordion-bg:                            var(--bs-body-bg) !default;
$accordion-border-width:                  var(--bs-border-width) !default;
$accordion-border-color:                  var(--bs-border-color) !default;
$accordion-border-radius:                 var(--bs-border-radius) !default;

$accordion-body-padding-y:                $accordion-padding-y !default;
$accordion-body-padding-x:                $accordion-padding-x !default;

$accordion-button-padding-y:              $accordion-padding-y !default;
$accordion-button-padding-x:              $accordion-padding-x !default;
$accordion-button-color:                  var(--bs-heading-color) !default;
$accordion-button-bg:                     var(--bs-accordion-bg) !default;
$accordion-transition:                    $btn-transition, border-radius .2s ease !default;
$accordion-button-active-bg:              var(--bs-gray-100) !default;
$accordion-button-active-color:           var(--bs-primary-text-emphasis) !default;

$accordion-button-focus-border-color:     none !default;
$accordion-button-focus-box-shadow:       none !default;

$accordion-icon-width:                    14px !default;
$accordion-icon-color:                    $body-color !default;
$accordion-icon-active-color:             $primary-text-emphasis !default;
$accordion-icon-transition:               transform .2s ease-in-out !default;
$accordion-icon-transform:                rotate(-180deg) !default;

$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke-width='1.5' stroke='#{$accordion-icon-color}' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>") !default;

$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke-width='1.5' stroke='#{$accordion-icon-active-color}' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>") !default;

$accordion-button-active-icon-white:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke-width='1.5' stroke='white' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
// end::GXON variables accordion


// begin::GXON variables close
$btn-close-focus-shadow: none;
// end::GXON variables close


// begin::GXON variables tooltip
$tooltip-bg:  var(--bs-dark);
$tooltip-padding-y:                 5px !default;
$tooltip-padding-x:                 10px !default;

$tooltip-max-width:                 200px;
$tooltip-margin:                    null;
$tooltip-arrow-width:               .8rem;
$tooltip-arrow-height:              .4rem;
// end::GXON variables tooltip


 // begin::GXON variables toast
$toast-box-shadow: var(--bs-box-shadow-lg);
$toast-header-color: var(--bs-heading-color);
$toast-font-size: 13px;
$toast-background-color: rgba(var(--bs-body-bg-rgb), 0.90);
// end::GXON variables toast


// begin::GXON variables pagination
$pagination-padding-y:              5px;
$pagination-padding-x:              10px;

$pagination-padding-y-sm:           .25rem;
$pagination-padding-x-sm:           .5rem;

$pagination-padding-y-lg:           10px;
$pagination-padding-x-lg:           10px;

$pagination-font-size:              15px;

$pagination-color:                  var(--bs-link-color);
$pagination-bg:                     var(--bs-body-bg);
$pagination-border-radius:          var(--bs-border-radius);
$pagination-border-width:           var(--bs-border-width);
$pagination-margin-start:           5px;
$pagination-border-color:           var(--bs-border-color);

$pagination-focus-color:            #fff;
$pagination-focus-bg:               var(--bs-primary);
$pagination-focus-box-shadow:       none;
$pagination-focus-outline:          0;

$pagination-hover-color:            #fff;
$pagination-hover-bg:               var(--bs-primary);

$pagination-disabled-color:         var(--bs-primary-subtle);
$pagination-disabled-bg:            var(--bs-light);
$pagination-disabled-border-color:  var(--bs-light);

$pagination-border-radius-sm:       var(--bs-border-radius-sm);
$pagination-border-radius-lg:       var(--bs-border-radius-lg);
// end::GXON variables pagination


// begin::GXON variables modal
$modal-inner-padding:               20px !default;
$modal-content-border-width:        0 !default;
$modal-content-box-shadow-sm-up:    var(--bs-box-shadow-lg) !default;
$modal-backdrop-bg:                  var(--custom-modal-backdrop-bg) !default;
$modal-backdrop-opacity:            .6 !default;
$modal-header-border-width:           1px !default;
$modal-footer-border-width:           1px !default;
$modal-fade-transform:                translate(0, -35px) !default;
$modal-transition:                  transform .3s ease-out !default;
// end::GXON variables modal


// begin::GXON variables offcanvas
$offcanvas-border-width:              0 !default;
$offcanvas-box-shadow:                0 0 15px rgba(0, 0, 0, 0.1) !default;
// end::GXON variables offcanvas


// begin::GXON variables list group
$list-group-color: var(--bs-heading-color);
$list-group-item-padding-x: 20px;
$list-group-item-padding-y: 10px;
// end::GXON variables list group


// begin::GXON variables popover
$popover-font-size: 13px;
$popover-border-width: 0px;
$popover-border-radius: var(--bs-border-radius);
$popover-box-shadow: var(--bs-box-shadow-lg);
$popover-header-padding-x: 20px;
$popover-header-padding-y: 12px;
$popover-header-color: var(--bs-heading-color);
$popover-header-bg: var(--bs-light);
$popover-body-padding-x: 20px;
$popover-body-padding-y: 14px;
// end::GXON variables popover


// begin::GXON variables dropdown
$dropdown-item-padding-y:           8px;
$dropdown-item-padding-x:           15px;
// end::GXON variables dropdown


// begin::GXON variables navbar
$navbar-padding-y: 10px;
$navbar-padding-x: 12px;
$navbar-toggler-padding-y:          5px;
$navbar-toggler-padding-x:          5px;
// end::GXON variables navbar


// begin::GXON variables form check input
$form-label-margin-bottom: 4px;
$form-check-input-width: 1.5em;
$form-check-input-height: 1.5em;
$form-check-input-border-radius: var(--bs-border-radius);
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M5 10l3 3 7-7'/></svg>") !default;
$form-check-input-focus-box-shadow: none;
// end::GXON variables form check input


// begin::GXON variables form switch
$form-switch-width:               2.8em;
$form-switch-focus-color:         $input-focus-border-color;
$form-switch-focus-bg-image:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-focus-color}'/></svg>");
// end::GXON variables form switch


// begin::GXON variables nav link
$nav-link-padding-y:                0.5rem;
$nav-link-padding-x:                1.2rem;
$nav-link-color:                      var(--bs-body-color);
$nav-link-hover-color:                var(--bs-primary);
$nav-underline-link-active-color:   var(--bs-primary);
// end::GXON variables nav link


// begin::GXON variables form range track 
$form-range-track-width:          100%;
$form-range-track-height:         .4rem;
$form-range-track-cursor:         pointer;
$form-range-track-bg:             rgba(var(--bs-primary-rgb), 0.25);
$form-range-track-border-radius:  1rem;
$form-range-track-box-shadow:     var(--bs-box-shadow-inset);
// end::GXON variables form range track 


// start:GXON variables form range thumb
$form-range-thumb-width:                   1rem;
$form-range-thumb-height:                  $form-range-thumb-width;
$form-range-thumb-bg:                      var(--bs-primary);
$form-range-thumb-border:                  0;
$form-range-thumb-border-radius:           1rem;
$form-range-thumb-box-shadow:              0 .1rem .25rem var(--bs-primary);
$form-range-thumb-focus-box-shadow:        0 0 0 5px rgba(var(--bs-primary-rgb), 0.25), $input-focus-box-shadow;
$form-range-thumb-focus-box-shadow-width:  1px;
$form-range-thumb-active-bg:               var(--bs-primary);
$form-range-thumb-disabled-bg:             var(--bs-body-color);
$form-range-thumb-transition:              background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
// end::GXON variables form range thumb



// begin::GXON variables form feedback tooltip
$form-feedback-tooltip-padding-y: 3px;
$form-feedback-tooltip-padding-x: 8px;
$form-feedback-tooltip-border-radius: var(--bs-border-radius-sm);
$form-feedback-tooltip-font-size: 11px;
// end::GXON variables form feedback tooltip