/*
	Author::   LayoutDrop
	Projects:: GXON
	Version::  1.3.0
	
	========== Table Of Content ==========
	
	1. Basic SCSS
	2. Components
	3. Helpers
	4. Layout
	5. Pages
	
	========== ========== ==========
	
*/

@import "./../libs/bootstrap/scss/functions.scss";
@import "./variables";
@import "./variables-dark";
@import "./theme-variables";
@import "./../libs/bootstrap/scss/bootstrap.scss";
@import "./color-palette";
@import "./basic/basic";
@import "./layout";
@import "./helpers";
@import "./components";
@import "./forms";
@import "./pages";